<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Meu Site{% endblock %}</title>

  <!-- CSS global -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  {% block head %}{% endblock %}
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="flash {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  <header>
    <div class="container">
      <p>Esse é o base.html</p>
    </div>
  </header>

  <main>
    <hr>
    {% block content %}{% endblock %}
    <hr>
  </main>

  <footer>
    <!-- rodapé se quiser -->
  </footer>

  <!-- espaço para scripts que cada template pode injetar -->
  {% block scripts %}{% endblock %}
</body>
</html>
