{% extends "base.html" %}

{% block content %}

<h1>Todos os Eventos</h1>
<ul>
  {% for event in events %}
    <div style="border: black 1px solid;padding: 5px;"></div>
        <li>
          <h2>{{ event.title }}</h2>
          <div style="border: black 1px solid;padding: 5px;">
            {% for image in event.images %}
                <img src="{{image}}">
            {% endfor %}
          </div>
          <p>{{ event.desc }}</p>
          <p>Saída: {{ event.exit_date }}</p>
          <p>Retorno: {{ event.return_date }}</p>
          <p>Preço: R$ {{ event.price }}</p>
          <p>Vagas: {{ event.numSlots }}</p>
        </li>
    </div>
    <hr>
  {% endfor %}
</ul>


{% endblock %}